.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about-image {
    flex: 0 0 200px;
    margin-right: 50px;
    margin-left: 100px;
}

.about-image img {
    margin-top: 30px;
    width: 350px;
    border-radius: 20%;
    height: 450px;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 100px;
}

/* .about-text p {
    line-height: 1.6;
    margin-bottom: 20px;
} */

.social-media a {
    display: inline-block;
    margin-right: 10px;
}

.social-media img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
}
.social-media button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    margin-right: 10px;
}

.social-media button:hover {
    background-color: #0056b3;
}
