.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.skill-item {
    margin: 20px;
    transition: transform 0.3s ease;
}

.skill-item img {
    width: 120px; /* Adjust as needed */
    height: 120px;
}

.skill-item:hover {
    transform: scale(1.1);
}
